<header class="header-box">
	<div class="slides-box">
		<article class="main-slide image1">
			<span class="poke squirtle"></span>
			<h1>SALE -50% -30%</h1>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor repellat, maxime voluptates amet, quidem itaque non reprehenderit ullam error reiciendis ipsam saepe ab deleniti, esse culpa possimus quae vitae! Maiores!
			</p>
		</article>
		<article class="main-slide image2">
			<span class="poke charmander"></span>
			<h1>Gotta Buy 'Em All !</h1>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. In, quam, quis. Enim ab, in? Placeat cumque laboriosam mollitia nesciunt ut molestias minus natus sequi unde sit error, recusandae reiciendis dolorem?</p>
		</article>
		<article class="main-slide image3">
			<span class="poke bulbasaur"></span>
			<h1>Create your trainer account</h1>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam voluptas aliquam accusantium suscipit iure, sed consequatur voluptate, architecto quis deleniti quisquam, fugiat voluptates voluptatem eligendi neque consectetur ratione dolore explicabo.</p>
		</article>
	</div>
</header>

<section class="items arrivals">
	<h2>New Arrivals</h2>
	<div class="items-box">
		<figure class="arr-item" ng-repeat="arrival in lastArrivals">
			<a href="#/products/{{arrival._id}}"><img ng-src="../assets/img/{{arrival.foto}}.png"></a>
			<span ng-class="checkNewPrice(arrival)">{{arrival.price | currency : "€ ": 0}}</span>
			<span class="price new" ng-if="arrival.promotion != 0">{{arrival.price - arrival.promotion | currency : "€ " : 0}}</span>
			<figcaption>{{arrival.name}}</figcaption>
		</figure>
	</div>
</section>


<section class="profesor-box">
	<span class="overlay"></span>
	<span class="oak-img"></span>
	<article class="bubble">
		<blockquote>
			<p class="quote">Catch all of them</p>
			<small>Profesor Oak</small>
		</blockquote>		
	</article>
</section>


<section class="items promotions">
	<h2>Best Promotions</h2>
	<div class="items-box">
		<figure class="promo-item" ng-repeat="promo in promotions">
			<a href="#/products/{{promo._id}}"><img ng-src="../assets/img/{{promo.foto}}.png"></a>
			<span ng-class="checkNewPrice(promo)">{{promo.price | currency : "€ ": 0}}</span>
			<span class="price new" ng-if="promo.promotion != 0">{{promo.price - promo.promotion | currency : "€ " : 0}}</span>
			<figcaption>{{promo.name}}</figcaption>
		</figure>
	</div>
</section>


<section class="header-box">
	<div class="slides-box">
		<article class="buyer-slide">
			<img src="assets/img/trainer1.png" alt="">
			<blockquote>
				<p><i class="fa fa-quote-left" aria-hidden="true"></i> Best job in world Pokeshop.pl <i class="fa fa-quote-right" aria-hidden="true"></i></p>
				<small>Jon Beway</small>
			</blockquote>
		</article>
		<article class="buyer-slide">
			<img src="assets/img/trainer2.png" alt="">
			<blockquote>
				<p><i class="fa fa-quote-left" aria-hidden="true"></i> This shop is perl <i class="fa fa-quote-right" aria-hidden="true"></i></p>
				<small>Carl Jamison</small>
			</blockquote>	
		</article>
		<article class="buyer-slide">
			<img src="assets/img/trainer3.png" alt="">
			<blockquote>
				<p><i class="fa fa-quote-left" aria-hidden="true"></i> My new Pikachu is so sweet <i class="fa fa-quote-right" aria-hidden="true"></i></p>
				<small>Christina Saul</small>
			</blockquote>			
		</article>
	</div>
</section>


<section class="items starters">
	<h2>Movie starters</h2>
	<div class="items-box">
		<figure class="start-item" ng-repeat="starter in starters">
			<a href="#/products/{{starter._id}}"><img 
ng-src="../assets/img/{{starter.foto}}.png"></a>
			<span ng-class="checkNewPrice(starter)">{{starter.price | currency : "€ ": 0}}</span>
			<span class="price new" ng-if="starter.promotion != 0">{{starter.price - starter.promotion | currency : "€ " : 0}}</span>
			<figcaption>{{starter.name}}</figcaption>
		</figure>
	</div>
</section>




<section class="about-box">
	<div class="info-img"></div>

	<div class="info-box">
		<h2>About us</h2>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus iusto, consectetur ullam beatae magni, illo aliquid, voluptate unde quae animi, veniam blanditiis debitis! Blanditiis nam quo, unde. Aliquam eligendi nostrum, amet repellat maxime ipsam error? Recusandae quae ipsum reprehenderit sit, totam molestias, quod dolor, neque asperiores nisi at! Reiciendis minima iste modi dolorum, saepe nesciunt odit sint atque, eaque officia! Facilis quae sequi inventore hic natus, excepturi perspiciatis asperiores neque nostrum iure itaque quo similique quaerat repellat, velit harum aliquid. Ab provident deserunt, veritatis omnis eum cumque animi a necessitatibus? Aut, ipsam sint dolorum eius error amet ducimus iusto alias.</p>		
	</div>
</section>