<section class="container wrapper">
	<div ng-if="errors" class="alert alert-danger" role="alert">{{errors}}</div>
	<div class="well" ng-repeat="order in orders">
		
		<div class="row">
			<div class="col-md-12">
				<h3>User {{order.person}} order:</h3>
				<div class="table-responsive">
					<table class="table">
						<tr>
							<th>Product name</th>
							<th>Product price</th>
							<th>qty</th>
							<th>total</th>
						</tr>
						<tr ng-repeat="item in order.items">
							<td>{{item.name}}</td>
							<td>{{item.price - item.promotion}}</td>
							<td>{{item.qty}}</td>
							<td>{{item.qty * (item.price - item.promotion) | currency : "€ " : 0}}</td>
							<tr>
								<td colspan="3"></td>
								<td><strong>{{totalPrice($index) | currency : "€ " : 0}}</strong></td>
							</tr>

						</tr>
					</table>				
				</div>

			</div>
		</div>
		<div class="row">
			<div class="col-md-4">
				<h3>Status</h3>
				<select class="form-control" ng-model="newStatus" ng-change="changeStatus(newStatus, order._id)">
					<option value="" disabled selected>{{order.status}}</option>
					<option ng-repeat="status in statusList" value="{{status}}">{{status}}</option>
				</select>				
			</div>
			<div class="col-md-6 col-md-offset-2">
				<h3>Deliver Adress:</h3>
				<div class="table-responsive">
					<table class="table">
						<tr>
							<th>Detail</th>
							<th>City</th>
							<th>Postal Code</th>
							<th>Phone</th>
						</tr>
						<tr>
							<td>{{order.adress.detail}}</td>
							<td>{{order.adress.city}}</td>
							<td>{{order.adress.zip}}</td>
							<td>{{order.adress.phone}}</td>
						</tr>

					</table>					
				</div>
			</div>
		</div>	
	</div>
</section>







