<section class="products-box container">

	<h1 class="header">Pokemons</h1>

	<div class="sort-box">
		<a class="sort-button" ng-click="getProducts()">All</a>
		<a class="sort-button" ng-click="productsSortBy('Fire')">Fire</a>
		<a class="sort-button" ng-click="productsSortBy('Grass')">Grass</a>
		<a class="sort-button" ng-click="productsSortBy('Water')">Water</a>
		<a class="sort-button" ng-click="productsSortBy('Normal')">Normal</a>
		<a class="sort-button" ng-click="productsSortBy('Bug')">Bug</a>
		<a class="sort-button" ng-click="productsSortBy('Fight')">Fight</a>
		<a class="sort-button" ng-click="productsSortBy('Electric')">Electric</a>
	</div>
	
	<div class="items-box row">
		<figure class="col-sm-3 angular-animate" ng-repeat="product in products">
			<a href="#/products/{{product._id}}">
				<img ng-src="../assets/img/{{product.foto}}.png">
			</a>
			<span ng-class="checkNewPrice(product)">{{product.price | currency : "€ " : 0}}</span>
			<span class="price new" ng-if="product.promotion != 0">{{product.price - product.promotion | currency : "€ " : 0}}</span>


			<figcaption>{{product.name}}</figcaption>
		</figure>

	</div>

</section>




