<section class="form-box">
	<h1>Blocked</h1>
<!-- 	<form class="form-well" ng-submit="newProduct()" novalidate>
		
		<h1 class="header">Add Product</h1>
		
		<label for="name">Name*</label>
		<input id="name" ng-model="product.name" type="text"  placeholder="Name">
		
		<label for="price">Price*</label>
		<input id="price" ng-model="product.price" type="text" placeholder="100 €">

		<label for="type">Type*</label>
		<select id="type" ng-model="product.type" ng-options="type.name for type in types track by type.name">
			<option value="" disabled selected><strong>-Choose type-</strong></option>
		</select>

		<label for="photo">Photo Number*</label>
		<input id="photo" ng-model="product.foto" type="text" placeholder="001">
		
		<label for="descr">Description*</label>
		<textarea id="descr" ng-model="product.desc" type="text" placeholder="Product description"></textarea>

		<div ng-if="error" class="alert alert-danger" role="alert">{{error}}</div>
		<hr>
		<button class="button long add" type="submit">Add Product</button>
	</form> -->

</section>