<section class="form-box container">
	<form class="form-well" ng-submit="register()">

		<h2 class="header"> Register</h2>

		<label for="email">email*</label>
		<input id="email" ng-model="user.username" type="text" placeholder="przykladowy@mail.com">
	
		<label for="password">password*</label>
		<input id="password" ng-model="user.password" type="password" placeholder="password123">

		<div ng-if="error_message" class="alert alert-danger" role="alert">{{error_message}}</div>

		<button type="submit" class="button long add">Register</button>
	</form>

</section>